.title {
    font-family: "Ubuntu";
    color: darkblue;
}

.info {
    font-family: "Ubuntu";
    color: blue;
}

html {
    background: "black";
}

.slogan {
    font-family: "Ubuntu";
    font-size: 12px;
    color: black;
}