.title {
    font-family: "Ubuntu";
    color: darkblue;
}

.info {
    font-family: "Ubuntu";
    color: blue;
}

html {
    background: skyblue;
}

.slogan {
    font-family: "Ubuntu";
    font-size: 18px;
    color: black;
}