.title {
    font-family: "Ubuntu";
    color: DarkBlue;
}

.info {
    font-family: "Ubuntu";
    color: SkyBlue;
}

.slogan {
    font-family: "Ubuntu";
    font-size: 18px;
    color: SkyBlue;
}

.right{
    float:right;
}

.left{
    float:left;
}

html {
    background-color: Cornsilk;
}

span {
    display: inline;
}
